@{
    Layout="~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    body {
        background-image: url("https://www.shutterstock.com/image-photo/black-white-spotted-cows-green-600nw-2468140579.jpg");
        background-color: #cccccc;
    }
</style>
<h1>Welcome</h1>
